<div class="main">
    <div class="mainText">Get Started</div>
    <div class="flex-container">
        <div class="socialButton"><img src="../../../assets/png/facebook.png" alt="" srcset=""></div>
        <div class="socialButton"><img src="../../../assets/png/gmail.png" alt="" srcset=""></div>
    </div>

    <div class="text">
        Sign using your email or Phone number
    </div>

    <div style="margin-top: 15%;">
        <span class="text">Email / Phone</span>
        <input class="" type="text">
    </div>

    <div style="margin-top: 14%;">
        <span class="text">Password</span>
        <input class="" type="password">
    </div>

    <div style="margin-top: 14%;">
        <span class="text">Password</span>
        <input class="" type="password">
    </div>

    <div style="margin-top: 16%;" class="button">
        <button  routerLink="/otp">Submit</button>
    </div>
    <div class="text">
     
            already have an account? <span routerLink="/" style="color:  var(--primary, #5034EF);">Login
            </span>

    </div>
</div>