.main {
    margin-top: 30px;
    margin: 5%;
}

.mainText {
    margin-top: 10%;
    color: #000;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    /* 183.333% */
}

.flex-container {
    margin-top: 10%;
    display: flex;
    width: 100%;
    height: 48px;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

.socialButton {
    border-radius: 10px;
    border: 1px solid var(--neutral-700, #DAE0E6);
    background: var(--base-white, #FFF);
    width: 100%;
    height: 100%;
    
}

.socialButton img {
    padding-top: 5%;
    display: block;
    margin: 0 auto;
    width: 30px;
}

.text {
    color: var(--text-color, #2C2C2D);
    font-family: Be Vietnam Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    /* 150% */
    letter-spacing: -0.1px;
    text-align: center;
    margin-top: 10%;
}

input {
    border-radius: 10px;
    width: 100%;
    border-color: #2C2C2D;
    padding: 5%;
    border: 1px solid #ccc;
}

.button {
    border-radius: 6px;
    background: var(--primary, #5034EF);
    width: 100%;
    height: 100%;
    padding: 5%;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);

    display: inline-block;

  color: #ffffff;
  text-align: center;

}

.button span {
    color: var(--base-white, #FFF);
    /* Text Button/Semibold Large */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 146.667% */
    text-align: center;
    padding: 0px;
}