<div class="main">
    <app-auth-header></app-auth-header>
    <div style="margin-top: 10%;">
        <img class="centered-image" src="../../../assets/png/forgot.png" alt="" srcset="">
    </div>

    <div style="margin-top: 10%;" class="bold-text">
     Forgot Password
    </div>

    <div style="margin-top: 15%;">
        <span class="text">Email </span>
        <input class="" type="text">
    </div>
    <div class="text" style="text-align: center;">
       

        <div style="margin-top: 16%;" class="button">
            <button>Send Request</button>
        </div>


    </div>