<div class="side-bar">
  <div class="header">
    <div class="header-action">X</div>
    <div class="image">
      <img src="./../../../assets/png/forgot.png" alt="" />
    </div>
    <div class="header-text">
      <span>Sayil Sunday</span> <br />
      <span>0901234567</span>
    </div>
  </div>

  <div class="items">
    <ul>
      <li><i class="fa fa-user"></i> <span>Profile</span></li>
      <li><i class="fa fa-comment"></i> <span>Topics</span></li>
      <li><i class="fa fa-share"></i> <span>Shared Posts</span></li>
      <li><i class="fa fa-bank"></i> <span>Earnings</span></li>
      <li><i class="fa fa-car"></i> <span>Accounts</span></li>
      <li><i class="fa fa-gear"></i> <span>Settings</span></li>
    </ul>

    <hr />
    <ul>
      <li><i class="fa fa-user"></i> <span>Invite Friends</span></li>
      <li><i class="fa fa-info"></i> <span>Support & Help</span></li>
    </ul>
  </div>
</div>
