
<div class="card">
    <div class="flex-container">
        <div class="profile" style="color:#5034EF ;">
            <img src="../../../../assets/png/forgot.png" alt="" srcset="">
        </div>
        <div style="margin-left: 2%;"> <span class="profile-name"> Sunday Sayil</span> 6H <br> <span
                class="username-name">@Smart </span> </div>
    
        <div class="flex-item"><span class="material-icons md-48">
                more_vert
            </span>
        </div>
    </div>
    
    <div class="card-image">
        <img src="../../../assets/jpegs/church.jpg" alt="" sizes="" srcset="">
    </div>
    
    <div class="title">
        Why Local Foods are better for you.
    </div>

    <div class="text">
        There are several ways to participate in Mariners’ worship experiences. Whatever your comfort level, there are opportunities for you to join in community and draw nearer to Jesus.
    </div>

    <div class="actions">
        <span class="material-icons md-48">
            favorite
        </span>
        <span class="material-icons md-48">
            chat
        </span>
        <span class="material-icons md-48">
            repeat
        </span>
        <span class="material-icons md-48">
            star
        </span>
    </div>
</div>
